<%- include('../parts/start', {title: title})%>

<div>
    <h1><%= title%></h1>

    <div>
        <div><%= book.title%></div>
        <div><%= book.description%></div>
    </div>
</div>


<%- include('../parts/end')%>